@model IEnumerable<WebApp_Sport.Models.Utrka>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-image: url('slika/honda.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<h1>Utrke</h1>

<p>
    <a asp-action="Create">Dodaj novu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUtrka">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdUtrka">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUtrka">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
